.introduction {
  font-size: 28px;
  font-family: cursive;
  animation: float 2s infinite ease-in-out;
}
.name {
  background: linear-gradient(to left, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

@keyframes float {
  50% {
    transform: translateY(30px);
  }
}
